---
import BtnFooter from "../components/BtnFooter.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla Landing">
	<Header />
	<main
		class="snap-y snap-mandatory scroll-smooth relative h-screen w-full overflow-auto"
	>
		<div class="snap-center">
			<Section
				title="Experience Tesla"
				subtitle="Schedule a Demo Drive Today"
				color="white"
			>
				<div slot="footer">
					<a
						href="#"
						class={`backdrop-blur-lg hover:bg-white hover:text-slate-900 transition-colors text-center border-[3px] border-white rounded text-sm font-medium text-white inline-block py-2 px-20`}
						>Demo Drive</a
					>
				</div>
				<video
					slot="background"
					autoplay
					muted
					loop
					src="/public/homepage-video.webm"
					class="w-full h-full object-center object-cover"></video>
			</Section>
		</div>
		<div class="snap-center">
			<Section
				title="Model 3"
				subtitle="Lease from $399/mo"
				color="black"
				subunderline="underline"
			>
				<div slot="footer" class="flex gap-x-6">
					<BtnFooter btn1="Order Now" btn2="Demo Drive" />
				</div>

				<img
					slot="background"
					src="/public/model-3.avif"
					alt="Imagen Tesla modelo 3"
					class="w-full h-full object-cover object-center"
				/>
			</Section>
		</div>
		<div class="snap-center">
			<Section
				title="Model Y"
				subtitle="View Inventory"
				color="black"
				subunderline="underline"
			>
				<div slot="footer" class="flex gap-x-6">
					<BtnFooter btn1="Order Now" btn2="Demo Drive" />
				</div>
				<img
					slot="background"
					src="/public/model-y.avif"
					alt="Imagen Tesla modelo Y"
					class="w-full h-full object-cover object-center"
				/>
			</Section>
		</div>
		<div class="snap-center">
			<Section
				title="Model S"
				subtitle="View Inventory"
				color="black"
				subunderline="underline"
			>
				<div slot="footer" class="flex gap-x-6">
					<BtnFooter btn1="Order Now" btn2="Demo Drive" />
				</div>
				<img
					slot="background"
					src="/public/model-s.avif"
					alt="Imagen Tesla modelo S"
					class="w-full h-full object-cover object-center"
				/>
			</Section>
		</div>
		<div class="snap-center">
			<Section
				title="Model X"
				subtitle="View Inventory"
				color="black"
				subunderline="underline"
			>
				<div slot="footer" class="flex gap-x-6">
					<BtnFooter btn1="Order Now" btn2="Demo Drive" />
				</div>
				<img
					slot="background"
					src="/public/model-x.avif"
					alt="Imagen Tesla modelo Y"
					class="w-full h-full object-cover object-center"
				/>
			</Section>
		</div>
		<div class="snap-center">
			<Section
				title="Solar Panels"
				subtitle="Lowest Cost Solar Panels in America"
				color="black"
			>
				<div slot="footer" class="flex gap-x-6">
					<BtnFooter btn1="Order Now" btn2="Learn More" />
				</div>
				<img
					slot="background"
					src="/public/solar-panels.avif"
					alt="Imagen casa Tesla con Solar Panels"
					class="w-full h-full object-cover object-center"
				/>
			</Section>
		</div>
		<div class="snap-center">
			<Section
				title="Solar Roof"
				subtitle="Produce Clean Energy From Your Roof"
				color="black"
			>
				<div slot="footer" class="flex gap-x-6">
					<BtnFooter btn1="Order Now" btn2="Learn More" />
				</div>
				<img
					slot="background"
					src="/public/solar-roof.avif"
					alt="Imagen Casa Tesla con Solar Roof"
					class="w-full h-full object-cover object-center"
				/>
			</Section>
		</div>
		<div class="snap-center">
			<Section title="Accessories" color="black">
				<div slot="footer">
					<a
						href="#"
						class="text-center rounded text-sm font-medium bg-zinc-800 text-white inline-block py-[10px] px-[89px] hover:bg-zinc-900"
						>Shop Now</a
					>
				</div>
				<img
					slot="background"
					src="/public/accessories.avif"
					alt="Imagen Accesorios de Tesla"
					class="w-full h-full object-cover object-center"
				/>
			</Section>
		</div>
	</main>
</Layout>
