---
import Header from "../components/Header.astro";
import HomePage from "../components/HomePage.astro";
import Model3 from "../components/Model3.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla Landing">
	<Header />
	<main
		class="snap-y snap-mandatory scroll-smooth relative h-screen w-full overflow-auto"
	>
		<div class="snap-center">
			<Section
				title="Experience Tesla"
				subtitle="Schedule a Demo Drive Today"
				color="white"
			>
				<div slot="footer">
					<a
						href="#"
						class={`backdrop-blur-lg hover:bg-white hover:text-slate-900 transition-colors text-center border-[3px] border-white rounded text-sm font-medium text-white inline-block py-2 px-20`}
						>Demo Drive</a
					>
				</div>
				<video
					slot="background"
					autoplay
					muted
					loop
					src="/public/homepage-video.webm"
					class="w-full h-full object-center object-cover"></video>
			</Section>
		</div>
		<div class="snap-center">
			<Model3 />
		</div>
	</main>
</Layout>
