<section data-header-color="black" class="landing-section bg-black h-screen w-full relative text-center overflow-hidden">
  <div class="z-30 relative flex flex-col h-full">
    <header>
      <h2 class="text-black text-[40px] pt-32 font-medium">Model 3</h2>
      <p class="text-black underline text-sm text-center">Lease from $399/mo</p>
    </header>
    <footer class="flex flex-col items-center flex-grow justify-end pb-20">
      <div class="flex justify-center gap-x-6">
        <a href="#" class="text-center border-[3px] border-gray-700 rounded text-sm font-medium bg-zinc-700 text-white inline-block py-2 px-[85px]">Order Now</a>
        <a href="#" class="text-center border-[3px] border-bg-white/50 bg-white/50 rounded text-sm font-medium text-slate-900 inline-block py-2 px-[85px]">Demo Drive</a>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img src="/public/model-3.avif" alt="Imagen Tesla modelo 3" class="w-full h-full object-cover object-center">
  </div>
</section>
